#demo{
    width:200px;
    height: 200px;
    background-color: #ff0000 !important;
}
body #border-radius{
	border-radius: 30px;
	transform: rotate(45deg);
}
.circle{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background: #009900;
    margin-top: 100px;
}

