@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::before {
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .border-1px::before {
    transform: scaleY(0.33333333333333);
  }
}
@media (-webkit-min-device-pixel-ratio: 4), (min-device-pixel-ratio: 4) {
  .border-1px::before {
    transform: scaleY(0.25);
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .border-1px::after {
    transform: scaleY(0.33333333333333);
  }
}
@media (-webkit-min-device-pixel-ratio: 4), (min-device-pixel-ratio: 4) {
  .border-1px::after {
    transform: scaleY(0.25);
  }
}
body,
html {
  margin: 0;
}
#device-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  font-size: 14px;
  color: #333;
  background: #f0f1f5;
}
#device-list * {
  box-sizing: border-box;
}
#device-list ::-webkit-scrollbar {
  display: none;
}
#device-list .header {
  position: relative;
  height: 44px;
  background: #39f;
}
#device-list .header .title {
  margin: 0;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
#device-list .header .back {
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: url("../images/back.png") center center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
#device-list .content {
  overflow: auto;
  flex: 1;
}
#device-list .content .device-list {
  margin: 0;
  padding: 0;
}
#device-list .content .device-list .device-item {
  margin-bottom: 10px;
  padding: 0 10px;
  list-style: none;
  background: #fff;
}
#device-list .content .device-list .device-item .title {
  position: relative;
  margin: 0;
  line-height: 45px;
  font-size: 16px;
  font-weight: normal;
  color: #39f;
  cursor: pointer;
}
#device-list .content .device-list .device-item .title:after {
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  display: block;
  position: absolute;
  content: '';
}
#device-list .content .device-list .device-item .title:before {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  background: url("../images/right.png") center center no-repeat;
  background-size: 16px 16px;
  content: '';
}
#device-list .content .device-list .device-item .desc {
  padding-top: 5px;
  font-size: 10px;
}
#device-list .content .device-list .device-item .desc > * {
  line-height: 18px;
}
#device-list .content .device-list .device-item .desc .version {
  position: relative;
  padding-right: 20%;
  padding-bottom: 5px;
  font-size: 0;
}
#device-list .content .device-list .device-item .desc .version:after {
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  display: block;
  position: absolute;
  content: '';
}
#device-list .content .device-list .device-item .desc .version:after {
  border-top-style: dashed;
}
#device-list .content .device-list .device-item .desc .version .software,
#device-list .content .device-list .device-item .desc .version .hardware,
#device-list .content .device-list .device-item .desc .version .rom {
  display: inline-block;
  width: 50%;
  font-size: 10px;
}
#device-list .content .device-list .device-item .desc .version .rom {
  width: 100%;
}
#device-list .content .device-list .device-item .desc .version .network {
  position: absolute;
  top: 0;
  right: 10px;
}
#device-list .content .device-list .device-item .desc .version .network.offline .network-icon {
  background: #f00;
}
#device-list .content .device-list .device-item .desc .version .network .network-icon {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #50e3c2;
}
#device-list .content .device-list .device-item .desc .version .network .text {
  font-size: 10px;
}
#device-list .content .device-list .device-item .desc .add-line {
  position: relative;
  padding: 10px 0;
}
#device-list .content .device-list .device-item .desc .add-line:after {
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  display: block;
  position: absolute;
  content: '';
}
#device-list .content .device-list .device-item .desc .add-line:after {
  border-top-style: dashed;
}
#device-list .content .device-list .device-item .desc .add-line .bucket-list {
  font-size: 0;
}
#device-list .content .device-list .device-item .desc .add-line .bucket-list .bucket-item {
  display: inline-block;
  width: 50%;
  font-size: 12px;
}
#device-list .content .device-list .device-item .desc .add-line .bucket-list .bucket-item .icon {
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  line-height: 15px;
  font-size: 10px;
  border-radius: 3px;
  color: #fff;
  background: #50e3c2;
}
#device-list .content .device-list .device-item .desc .add-line .add-line-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 42px;
  line-height: 42px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #50e3c2;
  cursor: pointer;
}
#device-list .content .device-list .device-item .desc .exception-desc {
  margin-top: 10px;
  font-size: 0;
}
#device-list .content .device-list .device-item .desc .exception-desc .desc-item {
  display: inline-block;
  width: 50%;
  font-size: 12px;
}
#device-list .content .device-list .device-item .desc .exception-desc .desc-item .text {
  display: inline-block;
  padding: 0 8px;
  line-height: 18px;
  border-radius: 5px;
  color: #fff;
  background: #f00;
}
#device-list .content .empty-tip {
  margin-top: 30%;
  width: 100%;
  text-align: center;
}
